---
const { src, alt, width, height } = Astro.props;
---

<div class="image-wrapper">
    <img 
        src={ src } 
        width={ width } 
        height={ height } 
        alt={ alt } 
    />
</div>

<style lang="scss">
    @use '../global.scss';
</style>