---
const { src, alt } = Astro.props;
---

<div class="image-wrapper">
    <img src={src} alt={alt} />
</div>

<style lang="scss">
    @use '../global.scss';

    .image-wrapper {
        display: flex;
        justify-content: center;

        img {
            max-width: 100%;
            width: 100%;
            object-fit: cover;
            -o-object-fit: cover;
            border-radius: 12px;
        }
    }
    
</style>