---
const { body, headline } = Astro.props;
---

<div class="text-wrapper">
    { headline && <h2>{ headline }</h2> }
    <p>{ body }</p>
</div>

<style lang="scss">
    @use '../global.scss';

    .text-wrapper {
        display: flex;
        flex-direction: column;

        h2, p {
            color: var(--white);
        }

        h2 {
            margin: 0 0 10px;
        }

        p {
            margin: 0;
        }
    }
</style>