---
const { body, headline } = Astro.props;
---

<div class="text-wrapper">
    <h2>{ headline }</h2>
    <p>{ body }</p>
</div>

<style lang="scss">
    @use '../global.scss';

    h2, p {
        color: var(--white);
    }
</style>