---
const data = 
[
    {
        url: "bluebird",
        type: "project",
        title: "blueBird",
        headline: "AI-Powered Medical Assistant",
        date: "May 2024",
        thumbnail: "https://hbirmdoiqm.ufs.sh/f/C3h9qu5XgJvHP9cnCkG0ecIQzRyCWsJoThNrHZMSKBL49ljq",
        tldr: "RAG-powered chatbot that provided sources and answers to medical inqueries, tailored for medical professionals.",
        priority: 1
    },
    {
        url: "portfolio-site",
        type: "project",
        title: "Portfolio Site",
        headline: "Portfilio Site built with Astro",
        date: "January 2025",
        thumbnail: "https://hbirmdoiqm.ufs.sh/f/C3h9qu5XgJvHVbj5uQqW8bhg7kDjcYUI5le2ME3qfydFB04N",
        tldr: "Intuitive portfolio website used to highlight my experience, background, and content utilizing the best of Astro.",
        priority: 2
    },
    {
        url: "developer-tunnel-vision",
        type: "blog",
        title: "Avoid Developer Tunnel Vision",
        headline: "Why Developers Need a Bigger Perspective",
        date: "January 13, 2025",
        thumbnail: "https://hbirmdoiqm.ufs.sh/f/C3h9qu5XgJvHeC0CGBkXwnKd7ix46ouvOcLU09RNk18zgAIa",
        tldr: "Good developers solve problems, great developers solve them for everyone",
        priority: 2
    }
]

import type { content } from "../pages/api/content.json";
import WorkCard from "./WorkCard.astro";
---

<div class="board">
    <div class="board-bar">
        <h3>My Work</h3>
        <!-- <div class="board-filter">
            <a><h3>All</h3></a>
            <a><h3>Projects</h3></a>
            <a><h3>Blog</h3></a>
            <a><h3>Videos</h3></a>
        </div> -->
    </div>
    <div class="board-feed">
        {
            data.map(( item: content ) => (
                <WorkCard 
                    title={ item.title }
                    type={ item.type }
                    headline={ item.headline }
                    url={ item.url }
                    thumbnail={ item.thumbnail }
                    date={ item.date }
                    priority={ item.priority }
                />
            ))
        }
    </div>
</div>

<style lang="scss">
    @use './global.scss';

    .board {
        max-width: 1400px;
        margin: 0 auto;
        display: grid;
        padding: 0 25px 25px;

        @media (min-width: 600px) {
            padding: 0 45px 45px;
        }

        &-bar {
            display: flex;
            justify-content: space-between;
            padding: 0 0 25px;

            h3 {
                color: var(--white);
                font-size: 1.5rem;
                margin: 0;
            }
        }
        
        &-filter {
            display: flex;
            gap: 1rem;

            a {
                text-decoration: underline;
                color: var(--white);
            }
        }

        &-feed {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: 20px;
            gap: 12px;

            @media (min-width: 850px) {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
</style>