<main class="hero">
    <div class="hero-headline">
        <h1>Kaleb Garner</h1>
        <h2>Web Developer</h2>
    </div>
    <div class="hero-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et velit nec lorem scelerisque dapibus. Maecenas pulvinar odio enim, fermentum ultrices diam commodo non. In hac habitasse platea dictumst. Mauris urna arcu, hendrerit vel tempor quis, interdum in sem. Quisque nec facilisis lacus. Nullam et facilisis purus.</p>
    </div>
</main>

<style lang="scss">
    @use './global.scss';

    .hero {
        max-width: 1400px;
        margin: 0 auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 1rem;

        &-headline, &-text {
            grid-column: auto / span 2;

            @media (min-width: 600px) {
                grid-column: auto / span 1;
            }
        }
    }
</style>