---
import Text from "./blocks/Text.astro";
import TextImage from "./blocks/TextImage.astro";
import List from "./blocks/List.astro";
import Image from "./blocks/Image.astro";
import TwoImage from "./blocks/TwoImage.astro";

const blockMap: any = {
    text: Text,
    textimage: TextImage,
    list: List,
    image: Image,
    twoimage: TwoImage
}

const { contentArray } = Astro.props
---

<main>
    {contentArray.content.map((block) => {
        const blockType = Object.keys(block)[0];
        const Component = blockMap[blockType]; 

        return <Component {...block[blockType]} />;
      })}
</main>

<style lang="scss">
    @use './global.scss';

    main {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 25px 25px;
        display: flex;
        flex-direction: column;
        row-gap: 3rem;

        @media (min-width: 600px) {
            padding: 0 45px 45px;
        }
    }
</style>