---
import Text from "./blocks/Text.astro";
import Image from "astro/components/Image.astro";

const blockMap: any = {
    text: Text,
    image: Image
}

const { contentArray } = Astro.props
---

<main>
    {contentArray.content.map((block) => {
        const blockType = Object.keys(block)[0];
        const Component = blockMap[blockType]; 

        return <Component {...block[blockType]} />;
      })}
</main>

<style lang="scss">
    @use './global.scss';

    main {
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 25px 25px;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        @media (min-width: 600px) {
            padding: 0 45px 45px;
        }
    }
</style>